.searchCard {
  background-color: rgba(128, 128, 128, 0.445);
  font-size: 42px;
  padding: 70px 90px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  animation: fade 500ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100vw;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  column-gap: 10px;
  row-gap: 40px;
  padding: 15px 30px;
}

.loading {
  position: absolute;
  bottom: 50px;
  width: 112%;
  display: flex;
  justify-content: center;
}

.loading div {
  width: 60px;
  height: 60px;
}