.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 16, 16, 0.387);
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 300px;
    position: sticky;
    top: 0;
    padding: 20px;
}

.logo {
    width: 200px;
    margin: auto;
}

.date {
    color: antiquewhite;
    font-weight: bolder;
}